mixin userRow(index, id, name, photo, email, role)
  tr
    th(scope='row') #{index}
    td #{name}
    td 
      img(src=`/img/users/${photo}`, alt=`This is photo of ${name}`, width="128", height="128")
    td #{email}
    td #{role}
    td
      a.btn-view-user(href='#', data-id=id)
        i.fa-regular.fa-eye
    td
      a.btn-edit-user(href='#', data-id=id)
        i.fa-regular.fa-pen-to-square
    td
      a.btn-delete-user(href='#', data-id=id)
        i.fa-regular.fa-trash-can


mixin tourRow(index, id, name, duration, maxGroupSize, difficulty, ratingsAverage, ratingsQuantity, startDates)
  tr
    th(scope='row') #{index}
    td #{name}
    td #{duration}
    td #{maxGroupSize}
    td #{difficulty}
    td #{ratingsAverage}
    td #{ratingsQuantity}
    td #{startDates}
    td
      a.btn-view-tour(href='#', data-id=id)
        i.fa-regular.fa-eye
    td
      a.btn-edit-tour(href='#', data-id=id)
        i.fa-regular.fa-pen-to-square
    td
      a.btn-delete-tour(href='#', data-id=id)
        i.fa-regular.fa-trash-can

mixin reviewRow(index, id, user_name, tour_name, review, rating, creatAt)
  tr
    th(scope='row') #{index}
    td #{user_name}
    td #{tour_name}
    td #{review}
    td #{rating}
    td #{creatAt}
    td
      a.btn-view-review(href='#', data-id=id)
        i.fa-regular.fa-eye
    td
      a.btn-edit-review(href='#', data-id=id)
        i.fa-regular.fa-pen-to-square
    td
      a.btn-delete-review(href='#', data-id=id)
        i.fa-regular.fa-trash-can

mixin emailRow(index, id, name, email, createdAt)
  tr
    th(scope='row') #{index}
    td #{name}
    td #{email}
    td #{createdAt}
    td
      a.btn-delete-email(href='#', data-id=id)
        i.fa-regular.fa-trash-can

doctype html 
html(lang='vi')
    head 
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css', integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==', crossorigin='anonymous', referrerpolicy='no-referrer')
        link(rel="stylesheet", href="css/admin.css")
        title Dashboard administration
    body
        header.header
            nav.nav.nav--tours
                a.nav__el(href='overview') Hệ thống quản lý du lịch
                
            .header__logo
                img(src='img/logo-white.png', alt='Natours logo')
            nav.nav.nav--user
                a.nav__el.nav__el--logout Đăng xuất
                a.nav__el(href='#')
                    img.nav__user-img(src=`/img/users/${user.photo}`, alt=`This is photo of ${user.name}`)
                    span=user.name.split(' ')[0]
        main.h-100
            div.d-flex.p-0(role='tabpanel')
    
                #myList.list-group.h-auto.w-50.side-nav.user-view__menu(role='tablist')
                    a.list-group-item.list-group-item-action.h-20(data-bs-toggle='list', href='#users', role='tab') Người dùng
                    a.list-group-item.list-group-item-action(data-bs-toggle='list', href='#tours', role='tab') Chuyến đi
                    a.list-group-item.list-group-item-action(data-bs-toggle='list', href='#reviews', role='tab') Bài viết
                    a.list-group-item.list-group-item-action(data-bs-toggle='list', href='#payments', role='tab') Hóa đơn
                    a.list-group-item.list-group-item-action(data-bs-toggle='list', href='#emails', role='tab') Hòm thư
                .tab-content.w-100
                    #users.tab-pane.active(role='tabpanel') 
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên
                                    th(scope='col') Ảnh
                                    th(scope='col') Email
                                    th(scope='col') Vai trò
                                    th(scope='col') Xem
                                    th(scope='col') Sửa
                                    th(scope='col') Xóa

                            tbody
                                each user, i in users
                                    +userRow(i + 1, user._id, user.name, user.photo, user.email, user.role)

                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center
                                li.page-item.previous(class=(currentPage === 1 ? 'disabled' : ''))
                                    a.page-link(href='#', tabindex='-1', aria-disabled=(currentPage === 1 ? 'true' : 'false')) Previous
                                each page in Array.from(Array(totalUsersPages).keys())
                                    li.page-item(class=(currentPage === page + 1 ? 'active' : ''))
                                    a.page-link(href='#') #{page + 1}
                                li.page-item.next(class=(currentPage === totalUsersPages ? 'disabled' : ''))
                                    a.page-link(href='#') Next
                    #tours.tab-pane(role='tabpanel')
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên
                                    th(scope='col') Thời gian
                                    th(scope='col') Số lượng người
                                    th(scope='col') Độ khó
                                    th(scope='col') Điểm đánh giá
                                    th(scope='col') Số lượng đánh giá
                                    th(scope='col') Ngày đi
                                    th(scope='col') Xem
                                    th(scope='col') Sửa
                                    th(scope='col') Xóa


                            tbody
                                each tour, i in tours
                                    +tourRow(i + 1, tour._id, tour.name, tour.duration, tour.maxGroupSize, tour.difficulty, tour.ratingsAverage, tour.ratingsQuantity, tour.startDates[0].toLocaleDateString('en-GB').replace(/\//g, '-'))

                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center
                                li.page-item.previous(class=(currentPage === 1 ? 'disabled' : ''))
                                    a.page-link(href='#', tabindex='-1', aria-disabled=(currentPage === 1 ? 'true' : 'false')) Previous
                                each page in Array.from(Array(totalToursPages).keys())
                                    li.page-item(class=(currentPage === page + 1 ? 'active' : ''))
                                    a.page-link(href='#') #{page + 1}
                                li.page-item.next(class=(currentPage === totalToursPages ? 'disabled' : ''))
                                    a.page-link(href='#') Next
                    #reviews.tab-pane(role='tabpanel')
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên người dùng
                                    th(scope='col') Tên chuyến đi
                                    th(scope='col') Đánh giá
                                    th(scope='col') Sao đánh giá
                                    th(scope='col') Thời gian
                                    th(scope='col') Xem
                                    th(scope='col') Sửa
                                    th(scope='col') Xóa

                            tbody
                                each review, i in reviews
                                    +reviewRow(i + 1, review._id, review.user.name, review.tour.name, review.review, review.rating, review.creatAt.toLocaleDateString('en-GB').replace(/\//g, '-'))

                        nav(aria-label='Page navigation example')
                          ul.pagination.justify-content-center
                            li.page-item.previous(class=(currentPage === 1 ? 'disabled' : ''))
                                a.page-link(href='#', tabindex='-1', aria-disabled=(currentPage === 1 ? 'true' : 'false')) Previous
                            each page in Array.from(Array(totalReviewsPages).keys())
                                li.page-item(class=(currentPage === page + 1 ? 'active' : ''))
                                a.page-link(href='#') #{page + 1}
                            li.page-item.next(class=(currentPage === totalReviewsPages ? 'disabled' : ''))
                                a.page-link(href='#') Next

                    #payments.tab-pane(role='tabpanel')
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên người dùng
                                    th(scope='col') Tên chuyến đi
                                    th(scope='col') Ngày thanh toán
                                    th(scope='col') Giá
                                    th(scope='col') Trạng thái thanh toán
                                    th(scope='col') Xem
                                    th(scope='col') Sửa
                                    th(scope='col') Xóa

                            tbody
                               

                        nav(aria-label='Page navigation example')
                          ul.pagination.justify-content-center
                            li.page-item.previous(class=(currentPage === 1 ? 'disabled' : ''))
                                a.page-link(href='#', tabindex='-1', aria-disabled=(currentPage === 1 ? 'true' : 'false')) Previous
                            each page in Array.from(Array(totalUsersPages).keys())
                                li.page-item(class=(currentPage === page + 1 ? 'active' : ''))
                                a.page-link(href='#') #{page + 1}
                            li.page-item.next(class=(currentPage === totalUsersPages ? 'disabled' : ''))
                                a.page-link(href='#') Next
                    #emails.tab-pane(role='tabpanel')
                        table.table
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên
                                    th(scope='col') Email
                                    th(scope='col') Thời gian
                                    th(scope='col') Xóa

                            tbody
                                each email, i in emails
                                    +emailRow(i + 1, email._id, email.name, email.email, email.createdAt.toLocaleDateString('en-GB').replace(/\//g, '-'))

                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center
                                li.page-item.previous(class=(currentPage === 1 ? 'disabled' : ''))
                                    a.page-link(href='#', tabindex='-1', aria-disabled=(currentPage === 1 ? 'true' : 'false')) Previous
                                each page in Array.from(Array(totalEmailsPages).keys())
                                    li.page-item(class=(currentPage === page + 1 ? 'active' : ''))
                                    a.page-link(href='#') #{page + 1}
                                li.page-item.next(class=(currentPage === totalEmailsPages ? 'disabled' : ''))
                                    a.page-link(href='#') Next

            div.modal.fade(id='userModal', tabindex='-1', aria-labelledby='userModalLabel', aria-hidden='true')
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h5.modal-title(id='userModalLabel') User Details
                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        div.modal-body
                            p
                            strong Name:
                            span#userName
                            p
                            strong Email:
                            span#userEmail
                            p
                            strong Photo:
                            span#userPhoto
                            p
                            strong Role:
                            span#userRole
                            p
                            strong Active:
                            span#userActive
                            // Add other user details as needed
                        div.modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close       

 
            div.modal.fade(id='tourModal', tabindex='-1', aria-labelledby='tourModalLabel', aria-hidden='true')
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h5.modal-title(id='tourModalLabel') More Details About Tour
                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        div.modal-body
                            p
                                strong Name:
                                span#tourName
                            p
                                strong Duration:
                                span#tourDuration
                            p
                                strong Max Group Size:
                                span#tourMaxGroupSize
                            p
                                strong Difficulty:
                                span#tourDifficulty
                            p
                                strong Ratings Average:
                                span#tourRatingsAverage
                            p
                                strong Ratings Quantity:
                                span#tourRatingsQuantity
                            p
                                strong Price:
                                span#tourPrice
                            p
                                strong Summary:
                                span#tourSummary
                            p
                                strong Description:
                                span#tourDescription
                            p
                                strong Image Cover:
                                span#tourImageCover
                            p
                                strong Images:
                                span#tourImages
                            p
                                strong Start Dates:
                                span#tourStartDates
                            p
                                strong Start Location:
                                span#tourStartLocation
                            p
                                strong Locations:
                                span#tourLocations
                            p
                                strong Guides:
                                span#tourGuides
                        div.modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close                       

            div.modal.fade(id='reviewModal', tabindex='-1', aria-labelledby='reviewModalLabel', aria-hidden='true')
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h5.modal-title(id='reviewModalLabel') Review Details
                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        div.modal-body
                            p
                            strong Review:
                            span#reviewUserName
                            p
                            strong Review:
                            span#reviewTourName
                            p
                            strong Review:
                            span#reviewText
                            p
                            strong Rating:
                            span#reviewRating
                            p
                            strong Created At:
                            span#reviewCreatedAt
                            // Add other review details as needed
                        div.modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close

            div.modal.fade#editUserModal(tabindex='-1', aria-labelledby='editUserModalLabel', aria-hidden='true')
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h5.modal-title#editUserModalLabel Update User
                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                        div.modal-body
                            form#editUserForm.form-user-update
                            .form-group
                                label(for='editName') Name:
                                input#editName.form-control(type='text', name='name')
                            .form-group
                                label(for='editEmail') Email:
                                input#editEmail.form-control(type='email', name='email')
                            .form-group
                                label(for='editRole') Role:
                                input#editRole.form-control(type='text', name='role')
                            .form-group
                                label(for='editActive') Active:
                                input#editActive.form-control(type='text', name='active')
                        div.modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                            button.btn.btn-primary(type='submit') Save Changes




        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')
        script(src='/script/logout.js') 
        script(src='/script/pagination.js')
        script(src="/script/edit.js") 
        script.
            document.addEventListener('DOMContentLoaded', function () {
                const rowsPerPage = 10; // Number of rows per page
                const tabPanes = document.querySelectorAll('.tab-pane');

                tabPanes.forEach(tabPane => {
                const rows = tabPane.querySelectorAll('tbody tr');
                rows.forEach((row, index) => {
                    if (index >= rowsPerPage) {
                    row.style.display = 'none';
                    }
                });
                });
            });