doctype html
html(lang='vi')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    link(rel='stylesheet', href='css/welcome.css')

      
  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')

                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              // CONTENT
                              p Xin chào, #{name}
                              p Chào mừng bạn đến với Du lịch Việt, chúng tôi rất vui khi có bạn đồng hành 🎉🙏
                              p Bạn quên mật khẩu? Đặt lại mật khẩu ở đường link dưới đây: #{url}
                              table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td(align='left')
                                      table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              a(href=`${url}`, target='_blank') Đặt lại mật khẩu
                              p Nếu bạn không quên mật khẩu vui lòng bỏ qua email này!
                              p - ThanhNG, CEO

              // START FOOTER
              .footer
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.content-block
                        span.apple-link Thanh Xuân, Hà Nội
                        br
                        |  Không thích email này?
                        a(href='#') Hủy đăng kí!
